:root {
  --primary-color: #2a7f8f;
  --hover-color: #236c7a;
  --text-color: #1f3a44;
  --secondary-text: #3a5560;
  --tetriary-text: #6b8792;
  --primary-bg: #ffffff;
  --secondary-bg: #e8f1f2;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
p,
a,
h2,
body {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
a:hover {
  color: var(--hover-color);
  transition: 0.3s;
}
h1,
h2 {
  font-family: "Lora", serif;
  color: var(--primary-color);
}
body {
  background: var(--primary-bg);
  /* background-image: url("images/bg.png");
  background-position: center; */
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--secondary-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--primary-bg);
  padding: 22px 0;
  position: fixed;
  z-index: 1000;
  margin-top: 0;
}
.header__container {
  width: 1180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts__item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-color);
  text-decoration: none;
}
.header__logo-headtext {
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  color: var(--hover-color);
}
.header__logo-subtext {
  font-size: 14px;
}
.contacts__btn {
  border: 2px solid var(--hover-color);
  background-color: var(--primary-bg);
  padding: 8px 20px;
  border-radius: 888px;
  color: var(--hover-color);
  font-weight: 600;
  transition: all 0.2s ease;
  .social-img-2 {
    display: none;
    transition: 0.3s;
  }
  .social-img-1 {
    display: block;
    transition: 0.3s;
  }
}
.contacts__btn:hover {
  background-color: var(--hover-color);
  color: var(--primary-bg);
  .social-img-2 {
    display: block;
    transform: translateY(-1px);
  }
  .social-img-1 {
    display: none;
    transition: 0.3s;
  }
}
#section-promo,
#section-science,
#section-normativ,
#section-get,
#section-order,
#section-contacts {
  width: 1180px;
  display: flex;
  flex-direction: column;
  position: relative;
}
#section-promo {
  gap: 10px;
}
.promo__subtext-line {
  width: 8px;
  height: 70px;
  background-color: var(--hover-color);
}
.promo__subtext {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 21px;
  margin-bottom: 20px;
}
.promo__headtext {
  font-size: 30px;
}
.promo {
  position: relative;
  margin-top: 130px !important;
}
.section__sutitle {
  display: flex;
  gap: 12px;
  font-size: 22px;
  margin-bottom: 16px;
}
.section__img {
  width: 32px;
  height: 32px;
}
.section__text {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  span {
    font-weight: 600;
    margin-right: 4px;
  }
}
.section__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.normativ,
.science,
.get,
.order,
.contacts__us {
  padding: 40px 0;
  background-color: var(--primary-bg);
  border-radius: 20px;
  /* box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12); */
}
.contacts__us {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 18px;
  background: var(--secondary-bg);
}
.button-download {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--text-color);
  font-size: 18px;
  padding: 20px 0;
  margin-top: 20px;
}
.download-img {
  width: 24px;
  height: 24px;
}
.footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid #d6e2e6;
  margin: 40px 0 6px;
  font-size: 14px;
}
.footer-container {
  width: 1220px;
  padding: 30px;
  color: var(--tetriary-text);
}

.container__btn {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}
.text__contacts-us {
  width: 1140px;
  font-size: 18px;
  text-align: center;
  justify-content: center;
}
.section__container-text {
  line-height: 150%;
  width: 90%;
  span {
    font-weight: 600;
  }
}
.button-download {
  color: var(--primary-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 260px;
}
.text__footer {
  text-align: center;
}
@media (max-width: 1280px) {
  .header__container,
  #section-promo,
  #section-science,
  #section-normativ,
  #section-get,
  #section-order,
  #section-contacts {
    width: 94vw;
  }
}
@media (max-width: 1280px) {
  .header__container {
    padding: 0 20px;
  }
}
@media (max-width: 1280px) {
  .section__container-text {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  .text__contacts-us {
    width: 94%;
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  h2 {
    font-size: 20px;
  }
}
@media (max-width: 1280px) {
  .section__img {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 1280px) {
  .download-img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 1280px) {
  .promo__headtext {
    font-size: 28px;
  }
}

@media (max-width: 1280px) {
  .promo__subtext {
    font-size: 19px;
  }
}
@media (max-width: 1280px) {
  .footer {
    width: 94vw;
    margin: 30px 0 6px;
  }
}
@media (max-width: 1280px) {
  .footer-container {
    width: 100%;
  }
}
@media (max-width: 1040px) {
  .promo__subtext-line {
    height: 85px;
  }
}
@media (max-width: 1040px) {
  .promo__subtext {
    font-size: 18px;
  }
}
@media (max-width: 1040px) {
  .header__logo-headtext {
    font-size: 20px;
  }
}
@media (max-width: 1040px) {
  .header__logo {
    gap: 10px;
    width: 320px;
  }
}
@media (max-width: 1040px) {
  .header__contacts {
    gap: 20px;
  }
}
@media (max-width: 1040px) {
  .header__container {
    padding: 0;
  }
}
@media (max-width: 1040px) {
  .contacts__item {
    font-size: 14px;
  }
}
@media (max-width: 1040px) {
  .promo__headtext {
    font-size: 24px;
  }
}
@media (max-width: 1040px) {
  .normativ,
  .science,
  .get,
  .order,
  .contacts__us {
    padding: 20px 0;
  }
}
@media (max-width: 1040px) {
  .section__container-text {
    br {
      display: none;
    }
  }
}
@media (max-width: 1040px) {
  .contacts__us {
    gap: 10px;
  }
}
@media (max-width: 1040px) {
  #section-contacts {
    width: 98vw;
  }
}
@media (max-width: 1040px) {
  .section__container {
    gap: 12px;
  }
}
@media (max-width: 1040px) {
  #section-promo {
    gap: 0;
  }
}
@media (max-width: 720px) {
  .header__container {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
}
@media (max-width: 720px) {
  .header__contacts {
    gap: 16px;
    flex-wrap: wrap;
    width: 96%;
  }
}
@media (max-width: 720px) {
  .contacts__item {
    gap: 4px;
  }
}
@media (max-width: 720px) {
  .social-img {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 720px) {
  #section-promo {
    margin-top: 10px !important;
    width: 100vw;
    padding: 20px 20px 0;
  }
}
@media (max-width: 720px) {
  .promo__headtext {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .promo__headtext {
    padding: 20px 0px;
    margin: 0;
  }
}
@media (max-width: 720px) {
  header {
    position: relative;
    padding: 16px 20px;
    width: 100vw;
  }
}
@media (max-width: 720px) {
  .promo__subtext {
    font-size: 14px;
    gap: 12px;
  }
}
@media (max-width: 720px) {
  .promo__subtext-line {
    height: 100px;
    width: 12px;
  }
}
@media (max-width: 720px) {
  .section__sutitle {
    font-size: 17px;
    gap: 8px;
  }
}
@media (max-width: 720px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 720px) {
  .section__img {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 720px) {
  .button-download {
    font-size: 16px;
    padding: 10px 10px;
    margin-top: 10px;
    width: 180px;
  }
}
@media (max-width: 720px) {
  .download-img {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 720px) {
  #section-science,
  #section-normativ,
  #section-get,
  #section-order {
    width: 100vw;
    padding: 30px 20px;
  }
}
@media (max-width: 720px) {
  .container__btn {
    gap: 16px;
  }
}
@media (max-width: 720px) {
  .section__container-text {
    font-size: 14px;
  }
}
@media (max-width: 720px) {
  .footer {
    width: 100vw;
    margin: 0;
  }
}
@media (max-width: 720px) {
  .footer-container {
    padding: 30px 20px;
  }
}
@media (max-width: 720px) {
  #section-contacts {
    width: 100vw;
    padding: 30px 20px;
  }
}
@media (max-width: 720px) {
  h1,
  h2 {
    margin: 0;
  }
}